<!-- <ul>
  <li>
     <a routerLink="/">Home</a> |
     <a routerLink="route-one">Display Students</a> |
     <a routerLink="route-two">Add Student</a> |
  </li>
 </ul> -->
 <nav class="navbar navbar-dark bg-dark">

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Trinity</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="route-one">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="route-two">Add Student</a>
      </li>
    </ul>
  </div>
</nav>

